/*-----------Color-----------*/
body{
    background: linear-gradient(#000000,#3533CD);
}

.habilidades{
    color: black;
}

p{
    color: white;
}

h1 {
    color: white;
}

#html{
    background-color: white;
}

.fundohabi {
    background-color: white;
}

.letrafh{
    color: black;
}

h2{
    color: white;
}